#form-login {
    width: 28rem;
    height: 75%;
    margin: 10rem;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#form-login form {
    height: 80%;
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-size: 1.5rem;
}

#form-login form legend {
    margin: 1rem;
}

#form-login form .login-field {
    width: 90%;
    height: 3rem;
    margin: .8rem;
    padding: 1rem;
    border: 0;
    background-color: rgb(245,245, 245);
}

#form-login .login-submit {
    width: 90%;
    height: 3rem;
    margin: 1.5rem;
    border: 0;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

#form-login div {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: .8rem;
}

#form-login div p {
    cursor: pointer;
}